  #map { height: 500px; margin-top: 10px; }
        #alert { color: red; font-size: 18px; margin-top: 10px; }
        #distance { font-size: 16px; margin-top: 5px; }
        #suggestions {
  background: white;
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
}

#suggestions div {
  padding: 8px;
  cursor: pointer;
}

#suggestions div:hover {
  background: #eee;
}